@mixin fade-in-ellipsis() {
  &:before {
    pointer-events: none;
    content: "";
    position: fixed;
    border-bottom: 65px #fff solid;
    bottom: 0px;
    left: 0;
    height: 150px;
    width: 100%;
    background-image : -webkit-linear-gradient(top, rgba(#fff, 0), #fff);
    background-image : linear-gradient(left, rgba(#fff, 0), #fff);
    z-index: 1;
  }
}

.page {
  z-index: 1000;
  background: #fff;
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 100vh;
  overflow: auto;
  transition: opacity 0.5s;
  pointer-events: none;
  @include fade-in-ellipsis();

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .page-inner {
    padding: 0 20px 175px 20px;
    max-width: 60em;
    margin: 0 auto;
    a {
      @include text-link;
    }
  }

  img {
    max-width: 100%;
    max-height: calc(100vh - 200px);
    margin: 0 auto;
  }

  .page-close {
    position: fixed;
    top: 15px;
    right: 15px;
    height: 45px;
    width: 45px;
    text-align: center;
    cursor: pointer;
    transition: color 0.25s;
    -webkit-user-select: none;
    user-select: none;
    z-index: 9999;
    &:after {
      content: "";
      background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24'  fill='rgb(1,159,182)'><path d='M0 0h24v24H0z' fill='none'/><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z' /></svg> ");
      display: block;
      height: 45px;
      width: 45px;
      transition: opacity 0.25s, filter 0.25s;
      filter: grayscale(100%);
      opacity: 0.3;
      background-size: 45px 45px;
      background-repeat: no-repeat;
    }
    &:hover {
      &:after {
	filter: grayscale(0%);
	opacity: 1;
      }
    }
  }

  figure.image {
    max-width: 60em;
    text-align: right;
    margin: 0 auto 4em auto;
    display: table;

    figcaption.image-caption {
      font-size: 95%;
      line-height: 1.4em;
      display: table-caption;
      caption-side: bottom;
    }
  }
}
